<div class="container" id="container">
  <h3 class="rsvpLabel">RSVP Central</h3>
  <h6 class="rsvpLabel2">Friendly Reminder, this is a kid free event.</h6>
<form #userForm="ngForm"   (ngSubmit)="onSave(userForm.value)" novalidate>
  <!-- <p>Is "myForm" valid? {{userForm.valid}}</p> -->
<label>First Name</label><br>
    <input name="id" type="hidden" [(ngModel)]="id" />
     <input name="firstName" class="formControl item" id="firstName" type="text" [(ngModel)]="firstName" placeholder="What we will call you" required/><br>
<label>Last Name</label><br>
     <input name="lastName" class="formControl item" id="lastName" type="text" [(ngModel)]="lastName" placeholder="Your surname" required/>
<br>
<label>Phone Number</label><br>
        <input name="phoneNum" class="formControl item"  type="text"[(ngModel)]="phoneNum"placeholder="Put your digits here" required/>
        <br>
    <label>Email Address</label><br>
        <input name="email" class="formControl item" id="email"  type="email"[(ngModel)]="email" placeholder="you@you.com" required/>
          <label>Attending?</label><br>
          <input type="radio" class="radio"name="attending" value="yes" [(ngModel)]="attending" > YES
          <input type="radio" class="radio"name="attending" value="no" [(ngModel)]="attending" >NO
    <input class="btn btn-primary" type="submit" value="{{valbutton}}" />

</form>
</div>
<p  class="thanks">{{thanks}}  {{firstName}}!<a class="btn btn-light btn-lg" [routerLink]="['/']" routerLinkActive="router-link-active" role="button">Exit</a>
</p>







<!-- below is for returning the data that had been entered. Should be in an admin console. -->
<table>
<h4>Guest List</h4>
  <tr>
    <td>Guest |</td>
    <td>First Name |</td>
    <td>Last Name |</td>
    <td>Phone Number |</td>
    <td>Email Address |</td>
    <td>Attending </td>
    <!-- <td>Edit |</td> -->
    <td>Delete</td>
  </tr>
  <tr *ngFor="let kk of Repdata;let ind = index">

    <td>{{ind + 1 }}</td>
    <td>{{kk.firstName}}</td>
     <td>{{kk.lastName}} </td>
    <td>{{kk.phoneNum}} </td>
    <td>{{kk.email}} </td>
    <td>{{kk.attending}} </td>
    <!-- <td><a (click)="edit(kk)" style="color:rgb(85, 236, 229)">Edit</a></td> -->
    <td><a (click)="delete(kk._id)" style="color: red">Delete</a>  </td>
  </tr>
</table>

