h1{
  margin-left: 40%;
  margin-right: auto;
  color: White;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 1px 2px 2px black;
}
.container{
  width: 90%;
  height: 100%;
}
.news{
  margin-left: 15%;
  margin-right: auto;
}

footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

